/* comments for css */
body {
	margin:20px;
}
div {
	width:30%;
	float:left;
}
.first {
	background-color:salmon;
	width: 300px;
    padding: 25px;
    border: 25px;
    margin: 25px;;
}
.second {
	background-color:mediumaquamarine;
    width: 300px;
    padding: 25px;
    border: 25px;
    margin: 25px;
}
.third {
	background-color:maroon;
	width: 300px;
    padding: 25px;
    border: 25px;
    margin: 25px;
}
.two {
	color:blue;

}
.one {
	color:purple;
	font-size:50px;
}